*{
 margin:0px;
 padding: 0px
}

.header{
    background-color: rgb(175, 123, 59);
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-around ;
    align-items: center;
}

.header span{   
    background-color:rgba(236, 199, 155, 0.816) ;
    height: 100%;
    width: 50px;
    line-height: 10vh;
    text-align: center;
}

.home{
    display: flex;
}
.filters{
    background-color: rgb(234, 213, 185);
    height: 100vh;
    flex: 1;
    
    
}
.productContainer{
    flex: 4;
    height: 100vh;
    background-color: rgba(187, 229, 231, 0.713);
    
}