*{
 margin:0px;
 padding: 0px
}

.header{
    background-color: rgb(175, 123, 59);
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    position: fixed;
}

.header span{   
    background-color:rgba(236, 199, 155, 0.816) ;
    height: 100%;
    width: 50px;
    line-height: 10vh;
    text-align: center;
}

.home{
    display: flex;
    background-color: rgba(178, 232, 235, 0.713);
    
}
.filters{
    background-color: rgb(160, 171, 172);
    height: 100vh;
    flex: 1;
    display: flex;     
    flex-direction: column;  
    position: fixed;
    top: 65px;
}
.filters input{
    margin-top: 20px;
    margin-left: 10px;
}

.filters .ratings{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.productContainer{
    flex: 4;
    height: 100%;
    background-color: rgba(187, 229, 231, 0.713);
    margin-left: 200px;
}

.productContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    padding: 20px;
}
.singleProduct{
    background-color: azure;
    border: solid black .5px;
    width: 250px;
    height: 300px;
    margin: 10px;
}
.singleProduct img{
    width: 250px;
    height: 200px;
}
.singleProduct p{
    font-size: 12px;
}
/* 
.cartPage{
    display: flex;
    flex-direction: row;

}

.cartItem   {
    flex: 4;
    width: 80%;
    height: 100%;
    background-color: rgba(187, 229, 231, 0.713);

}

.cartContainer img{
    height: 150px;
    width: 150px
}

.cartFilter{
    background-color: rgb(160, 171, 172);
    height: 100vh;
    width: 400px;
    display: flex;     
    flex-direction: column; 
}


 */
.cartPage{
    display: flex;
    flex-direction: row;
}

 .cartItems{
     flex: 5;
     background-color: rgb(255, 255, 255);
     height: auto;
 }
 .cartContainer{
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin: 5px;
     border: solid rgb(236, 234, 231);
     border-radius: 10px;
 }
 .cartContainer img{
     height: 100px;
     width: 100px;
 }
 .cartFilters{
     flex: 2;
     background-color: rgba(137, 182, 167, 0.64);
     position: sticky;
     top: 0;
     height: 100vh;

 }

 