*{
 margin:0px;
 padding: 0px
}

.header{
    background-color: rgb(175, 123, 59);
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-around ;
    align-items: center;
}

.header span{   
    background-color:rgba(236, 199, 155, 0.816) ;
    height: 100%;
    width: 50px;
    line-height: 10vh;
    text-align: center;
}